
<script src="js/libs/jquery/jquery.js"></script>
<script src="js/libs/soundprint/Kanvas.js"></script>
<script src="js/libs/jquery/jquery-ui.min.js"></script>
<script src="js/libs/jquery/jquery.transit.min.js"></script>
<script src="js/libs/jquery/jquery.color.js"></script>
<script src="js/libs/bootstrap/bootstrap-dropdown.js"></script>
<script src="js/libs/bootstrap/bootstrap-tooltip.js"></script>
<script src="js/libs/backbone/underscore.min.js"></script>
<script src="js/libs/backbone/backbone.min.js"></script>
<script src="js/libs/socket.io/socket.io.js"></script>
<script src="js/libs/timbre/timbre.dev.js"></script>
<script src="js/libs/timbre/src/objects/waveshaper.js"></script>
<!-- <script src="js/libs/timbre/src/extras/MoogFF.js"></script>
<script src="js/libs/timbre/misc/js/codemirror.js"></script>
<script src="js/libs/timbre/misc/js/javascript.js"></script>
<script src="js/libs/timbre/misc/js/xml.js"></script>
<script src="js/libs/timbre/misc/js/htmlmixed.js"></script> 
<script src="js/libs/timbre/misc/js/subcollider.js"></script>
<script src="js/libs/timbre/misc/js/common.js"></script> -->
<script src="js/models.js"></script>
<script src="js/views.js"></script>
<script src="js/application.js"></script>
<script src="js/audio.js"></script>
