<style>
	.camera-container {
		margin-top: 120px;
		padding: 50px 0;
	}
</style>

<div class="container camera-container">
	<div class="span4 camera-stats">
		<div class="camera-status">Camera Status: <span>Not Connected</span></div>
		<div class="camera-fps">Current Local FPS: <span></span></div>
		<div class="camera-network-fps">Current Netork FPS: <span></span></div>
	</div>
	<div class="camera-view"></div>
</div>

<script src="js/libs/jquery/jquery.js"></script>
<script src="js/libs/socket.io/socket.io.js"></script>
<script src="js/libs/soundprint/FastBlur.js"></script>
<script src="js/libs/soundprint/Kanvas.js"></script>
<script>
	//Init HTML5

	window.URL = window.URL || window.webkitURL;
	navigator.getUserMedia  = navigator.getUserMedia    || navigator.webkitGetUserMedia ||
                          	  navigator.mozGetUserMedia || navigator.msGetUserMedia;

						
	//Init Vars
	var video = document.createElement('video');
	var vW;
	var vH;

	//Init Camera
	if (navigator.getUserMedia) {
		navigator.getUserMedia({ audio: false, video: true }, function(stream) {
			video.src = window.URL.createObjectURL(stream);
			video.autoplay = true;
			
			setTimeout(function() {
				vW = video.videoWidth;
				vH = video.videoHeight;
				
				connectCamera();
			}, 1000);

		}, function(e) { console.log('Could not get camera feed, '+ e) });
	} else {
		console.log('No browser support!');
	}
	 
	//Networking
	var clientSocket = null;
	var sentData     = null;

	var rColors = [0.7,0.7,1.1,1.2];
	var gColors = [0.7,1.2,1.1,0.7];
	var bColors = [1.2,0.7,0.7,0.7];
	var rColor = bColor = gColor = 0;

	var lastLoop   = new Date;

	function connectCamera(){
		clientSocket = io.connect('http://{{IPv4}}:5555/camera');

		$('.camera-status span').html('Connecting...');

		clientSocket.on('handshake', function(err, number){
			if(err) return console.log(err);
						
			rColor = rColors[number];
			gColor = gColors[number];
			bColor = bColors[number];

			$('.camera-status span').html('Connected');
						
			console.log('Connected Camera as ' + number);
			
			setInterval(processAndRender, 1000 / 40);
		});

		clientSocket.on('tracker', function(data) {
			$('.camera-network-fps span').html(data.fps);
		});

		clientSocket.on('disconnect', function() {
			$('.camera-status span').html('Not Connected');
		});
	}
	//DRAWING VARS

	var canvas = document.createElement('canvas');
	var context = canvas.getContext('2d');

	var vcanvas = document.createElement('canvas');
	var vcontext = vcanvas.getContext('2d');


	$('.camera-view').html(canvas);

	var oldData = null;
	var newData = null;

	var size = 320;
	var rows = 32;
	var cols = 32;
	var cellsPerCell = 4;

	vcanvas.width = canvas.width = size;
	vcanvas.height = canvas.height = size;

	var x = 0;
	var y = 0;


	var density = [];

	
	var minChange = 15;
	var maxChange = 300;

	for(var i = 0; i < rows; i++){
		var temp = [];
		
		for(var n = 0; n < cols; n++){
			temp.push(0);
		}
		
		density.push(temp);
	}

	// Processing
	function processAndRender(){
		
		context.Alpha = 1

		// Draw Video to Canvas
		context.drawImage(video, 0, 0, canvas.width, canvas.height);
		
		// Get Video Pixel Data
		newData = context.getImageData(0, 0, canvas.width, canvas.height);
		
		// Convert to Grayscale
		for(var i = 0; i < newData.data.length; i += 4){
			var gray = Math.round((newData.data[i] + newData.data[i + 1] + newData.data[i + 2]) / 3);
			
			newData.data[i] 	= Math.min(gray, 255);
			newData.data[i + 1] = Math.min(gray, 255);
			newData.data[i + 2] = Math.min(gray, 255);
		}

		// Draw New Image and Replace Old
		context.putImageData(newData, 0, 0);
		newData = newData.data;
		
		// Compare Data
		if(oldData) {
			
			// Check Data Per Pixel
			var x  = 0;
			var y  = 0;
				
			for(var i = 0; i < oldData.length; i += 4 * (size / cols)) {
				x += (size / cols);
				
				if(x >= (size)) {
					x = 0;
					y += 1;
				}
				
				var xx = Math.max(Math.floor(((x - 0.1) / size) * cols), 0);	
				var yy = Math.max(Math.floor(((y - 0.1) / size) * rows), 0);
					
				//Cross compare colors
				var temp = Math.abs(oldData[i] - newData[i]);
					
				temp = Math.min(temp, maxChange);
				temp /= maxChange;
					
				//Set Density
				try {
					density[yy][xx] = (density[yy][xx] * 0.99) + (temp * 0.2);
				} catch(e) {
					console.log('DIDNT HAVE', yy, xx)
				}
			}

			// Draw Density Map
			for(var i = 0; i < rows; i += 1){
				for(var n = 0; n < cols; n += 1){
					if(density[i][n] > 0.2){
						context.fillStyle = "rgba(255,100,0,1)";
						context.fillRect((n) * (size / cols), (i) * (size / rows), (size / cols) /3, (size / rows) /3);
					}
				}
			}
		}
		
		// Send Frame To Server
		if(clientSocket){
			try {
				var sendData = []; 
				
				var x = 0;
				var y = 0;
				
				for(var i = 0; i < newData.length; i += 4){
					x += 1;
					
					if(x >= size){
						x = 0;
						y += 1;
					}

					if(x % 4 == 0 && y % 4 == 0) sendData.push(newData[i]);
				}

				var newDensity = [];
				
				for(var yy = 0; yy < density.length; yy++){
					var temp = [0, 0, 0, 0, 0, 0, 0, 0];
					
					for(var xx = 0; xx < density[yy].length; xx++){
						temp[Math.floor(xx / 4)] += density[yy][xx] * 0.25
					}
					
					newDensity.push(temp); 
				}


				var thisLoop = new Date;
			    var fps = 1000 / (thisLoop - lastLoop);
			    lastLoop = thisLoop;

				$('.camera-fps span').html(fps);
				
				clientSocket.emit('frame', {
					cam     : 0, 
					density : newDensity, 
					pic     : sendData,
				});
			} catch(e) {
				console.log('Error while sending data:', e)
			}
		}
		
		oldData = newData;
	}
</script>