<script src="js/libs/jquery/jquery.js"></script>
<script src="js/libs/jquery/jquery-ui.min.js"></script>
<script src="js/libs/jquery/jquery.transit.min.js"></script>
<script src="js/libs/backbone/underscore.min.js"></script>
<script src="js/libs/backbone/backbone.min.js"></script>
<script src="js/libs/socket.io/socket.io.js"></script>
<script src="js/libs/soundprint/Kanvas.js"></script>
<script src="js/models.js"></script>
<script src="js/views.js"></script>
<script src="js/display.js"></script>