<div class="container">
	<!-- <div class="row" style="position: absolute;top: 50%; margin-top: -150px;">
		<div class="span4">
			<img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/img/camera.jpg" style="width: 140px; height: 140px;">
			<h2>Camera</h2>
			<p>Launch the camera module on the computers that have webcams connected to them.</p>
			<p><a class="btn" href="/camera">Launch »</a></p>
		</div>

		<div class="span4">
			<img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/img/keyboard.png" style="width: 140px; height: 140px;">
			<h2>Application</h2>
			<p>Launch the application module on computers that will be used by the participant.</p>
			<p><a class="btn" href="/application">Launch »</a></p>
		</div>

		<div class="span4">
			<img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/img/imac.png" style="width: 140px; height: 140px;">
			<h2>Display</h2>
			<p>Launch the display module on computers attached to a display monitor.</p>
			<p><a class="btn" href="/display">Launch »</a></p>
		</div>
	</div> -->
</div>