<html>
	 <head>
	  	<title>{{title}}</title>
	</head>
	<body></body>
	<script src="js/jquery.js"></script>
	<script src="js/compatibility.js"></script>
	<script src="js/detection.js"></script>
	<script src="js/jquery.detection.js"></script>
	<script src="js/face.detection.js"></script>
	<script src="js/timbre.js"></script>
	<script src="js/VideoCapture.js"></script>
	<script src="js/ImageProcessor.js"></script>
	<!--<script src="js/ToneMatrix.js"></script>-->
	<script src="js/MixBoard.js"></script>
	<script>
		// var toneMatrix1    = new ToneMatrix({ width: 320, height: 240, color: 'rgba(255, 0, 0, 0.25)', instrument: 'PluckGen' });
		// var imageProcessor = new ImageProcessor();
		// var videoCapture   = new VideoCapture({ width: 320, height: 240, start: true, fps: 8 });

		// var mixBoard = new MixBoard({ input: T('PluckGen').play() });
    </script>
</html>